---
import { Img } from 'astro-imagetools/components';

import BaseLayout from '../../layouts/BaseLayout.astro';
import AllAboutSpecialty from '../../components/AllAboutSpecialty.astro';
import HeroBlock from '../../components/HeroBlock.astro';
import TwoColumnSection from '../../components/TwoColumnSection.astro';
import WaveMoreLinks from '../../components/WaveMoreLinks.astro';

const title = 'Astro Experts';
const description =
  "Astro takes an HTML first approach to building websites that gives you reliable standards and accessibility, with modern tools that devs expect. Learn how Ship Shape's team of Astro experts can help.";

const community = {
  src: '/img/services/tailwind/community.png',
  height: 1008,
  width: 1312
};

const copilot = {
  src: '/img/services/tailwind/copilot.png',
  height: 1132,
  width: 1312
};

const specialtyBenefits = [
  {
    iconName: 'icons/pwa',
    description:
      'UI-agnostic: Supports React, Preact, Svelte, Vue, Solid.js, and more.'
  },
  {
    iconName: 'icons/speed',
    description:
      'Zero JS, by default: No JavaScript runtime overhead to slow you down.'
  },
  {
    iconName: 'icons/modular',
    description:
      'Component Islands: A new web architecture for building faster websites.'
  },
  {
    iconName: 'icons/cloud-hard-drive',
    description:
      'Server-first design: Move expensive hydration off of your users’ devices.'
  }
];
---

<BaseLayout description={description} title={title}>
  <article itemscope itemtype="http://schema.org/Service">
    <HeroBlock
      heroClasses="astro-consulting waves tailwind-waves !pb-20 !pt-20 lg:!pb-24"
    >
      <Fragment slot="content">
        <h1 itemprop="name" class="leading-tight text-5xl">
          Modern tooling with HTML standards and accessibility baked in
        </h1>

        <div class="flex justify-center mt-3 w-full lg:justify-start lg:mt-8">
          <a class="btn btn-red w-full lg:w-auto" href="/contact/">
            Let's get started
          </a>
        </div>
      </Fragment>

      <Fragment slot="icon">
        <Img
          attributes={{
            img: {
              class: 'h-auto m-auto max-w-2xl w-full'
            }
          }}
          format="webp"
          height={829}
          placeholder="none"
          src="/img/hero-images/astro-consulting.png"
          width={1027}
          alt=""
        />
      </Fragment>
    </HeroBlock>

    <AllAboutSpecialty benefits={specialtyBenefits} flipParagraphs={true}>
      <Fragment slot="h2">All about Astro</Fragment>

      <Fragment slot="h3">
        Ship Shape's experienced engineers love Astro because:
      </Fragment>

      <Fragment slot="unboxed-text">
        At Ship Shape, we think Astro is a fresh but familiar approach to
        building websites. Astro combines decades of proven performance best
        practices with the developer experience improvements of the
        component-oriented era. Use your favorite JavaScript framework and
        automatically ship the bare-minimum amount of JavaScript—by default. We
        think it pairs particularly well with Solid.js.
      </Fragment>

      <Fragment slot="boxed-text">
        Astro is the easiest way to build a lightning-fast website. Keep working
        with the tools you love, in an environment that's easy to use.
      </Fragment>
    </AllAboutSpecialty>

    <TwoColumnSection
      header="Your co-pilots in the storm"
      image={copilot}
      isFlipped={true}
    >
      <Fragment slot="content">
        Ship Shape is committed to leaving every engineering team we work with
        better than we found it. Not only do we build robust, reliable software,
        but we also train your staff along the way to understand, maintain, and
        improve your product after our engagement ends.
      </Fragment>
    </TwoColumnSection>

    <!-- <div
      class="bg-white flex flex-wrap justify-center px-8 lg:py-16 lg:pt-32"
      data-aos="fade"
    >
      <SingleQuote testimonial={testimonial} />
    </div> -->

    <TwoColumnSection header="We ❤️ the Astro Community" image={community}>
      <Fragment slot="content">
        We believe Astro is the future of web development and we put our money
        where our mouth is by <a
          href="https://opencollective.com/astrodotbuild"
        >
          sponsoring the Astro team.
        </a>
      </Fragment>
    </TwoColumnSection>

    <WaveMoreLinks />
  </article>
</BaseLayout>
