---
import { Img } from 'astro-imagetools/components';

import BaseLayout from '../../layouts/BaseLayout.astro';
import AllAboutSpecialty from '../../components/AllAboutSpecialty.astro';
import HeroBlock from '../../components/HeroBlock.astro';
import SingleQuote from '../../components/SingleQuote.astro';
import SpecialtyInAction from '../../components/SpecialtyInAction.astro';
import TwoColumnSection from '../../components/TwoColumnSection.astro';
import WaveMoreLinks from '../../components/WaveMoreLinks.astro';

import { enigmaTestimonial as testimonial } from '../../testimonials/index.js';

const caseStudies = [
  {
    companyName: 'Enigma',
    imgAlt:
      'Enigma hirer dashboard with a pop-up notification introducing the page',
    imgSrc: '/img/work/enigma/enigma-hirer-dashboard.png',
    logoSrc: 'clients/enigma',
    text: 'Built MVP application that was successfully launched and established for immediate use among initial client base',
    linkName: 'enigma'
  }
];

const community = {
  src: '/img/hero-images/ember-consulting.png',
  height: 1040,
  width: 1312
};

const marketing = {
  src: '/img/hero-images/mentoring.png',
  height: 792,
  width: 1312
};

const specialtyBenefits = [
  {
    iconName: 'icons/image',
    description: 'Out-of-the-box internationalization features'
  },
  {
    iconName: 'icons/mentor',
    description:
      'Automatic image resizing and one-off, on-the-fly image generation'
  },
  {
    iconName: 'icons/chart',
    description: 'Amazingly high performance'
  },
  {
    iconName: 'icons/pwa',
    description: 'Zero config! Developing features is a simple “yarn dev” away'
  }
];

const title = 'Next.js Software Consultants & Developers';
const description =
  'Wondering, "What is Next js?" or optimizing your Next application? See how Ship Shape\'s Next.js specialists can help build a universal app without the hassle.';
---

<BaseLayout description={description} title={title}>
  <article itemscope itemtype="http://schema.org/Service">
    <HeroBlock
      hero-classes="next-consulting waves next-waves !pb-20 2xl:!pb-48"
    >
      <Fragment slot="content">
        <h1 itemprop="name" class="leading-tight text-5xl mb-6">
          Boost performance and easily make the leap from React to Next.js
        </h1>

        <div class="flex justify-center mt-3 w-full lg:justify-start lg:mt-8">
          <a class="btn btn-red w-full lg:w-auto" href="/contact/">
            Let’s get started
          </a>
        </div>
      </Fragment>

      <Fragment slot="icon">
        <Img
          alt=""
          attributes={{
            img: {
              class: 'h-auto m-auto max-w-2xl w-full'
            }
          }}
          format="webp"
          height={1000}
          placeholder="none"
          src="/img/hero-images/next-consulting.png"
          width={1344}
        />
      </Fragment>
    </HeroBlock>

    <AllAboutSpecialty benefits={specialtyBenefits}>
      <Fragment slot="h2">All about Next.js</Fragment>

      <Fragment slot="h3"
        >Some of our favorite Next.js features include:</Fragment
      >

      <Fragment slot="unboxed-text">
        <p>
          Whether you’re dipping your toes into the app development waters and
          wondering, “What is Next.js?” or you already know the ropes and are
          exploring this open-source React framework, you’ve come to the right
          place.
        </p>

        <p>
          At Ship Shape, our veteran engineers recommend Next.js because it’s
          one of the most performant frameworks. With server-side rendering
          (SSR) and routing, TypeScript support, smart bundling, route
          pre-fetching, and more, it’s a great choice for production-ready web
          apps.
        </p>
      </Fragment>

      <Fragment slot="boxed-text">
        Teams who have worked in generic React apps can easily make the leap
        into Next.js. If you’re wondering “What is Next.js, and can my team
        transition?” Ship Shape’s experienced developers not only consult and
        develop in Next.js, but also train and mentor teams to maintain and
        improve their code over time.
      </Fragment>
    </AllAboutSpecialty>

    <SpecialtyInAction specialty="Next.js" caseStudies={caseStudies} />

    <TwoColumnSection
      classString="mt-20"
      header="We’ll never leave you high and dry"
      image={marketing}
      isFlipped={true}
    >
      <Fragment slot="content">
        Ship Shape is committed to leaving every engineering team we work with
        better than we found it. Not only do we build robust, reliable software,
        but we also train your staff along the way to understand, maintain, and
        improve your product after our engagement ends.
      </Fragment>
    </TwoColumnSection>

    <div
      class="bg-white flex flex-wrap justify-center px-8 lg:py-16 lg:pt-32"
      data-aos="fade"
    >
      <SingleQuote testimonial={testimonial} />
    </div>

    <TwoColumnSection header="We ❤️ the Next.js Community" image={community}>
      <Fragment slot="content">
        We’re a team of makers who are passionate about improving software
        products and the people who create them.
      </Fragment>
    </TwoColumnSection>

    <WaveMoreLinks />
  </article>
</BaseLayout>
