---
import { Img } from 'astro-imagetools/components';

import BaseLayout from '../../layouts/BaseLayout.astro';
import AllAboutSpecialty from '../../components/AllAboutSpecialty.astro';
import HeroBlock from '../../components/HeroBlock.astro';
// import SingleQuote from '../../components/SingleQuote.astro';
import TwoColumnSection from '../../components/TwoColumnSection.astro';
import WaveMoreLinks from '../../components/WaveMoreLinks.astro';

const community = {
  src: '/img/services/serverless/community.png',
  height: 1008,
  width: 1312
};

const copilot = {
  src: '/img/services/serverless/copilot.png',
  height: 1132,
  width: 1312
};

const specialtyBenefits = [
  { iconName: 'icons/modular', description: 'Clear Organization' },
  {
    iconName: 'icons/chart',
    description: 'Scalable UI architecture'
  },
  { iconName: 'icons/retainer', description: 'Simple updates' },
  { iconName: 'icons/sail', description: 'Commitment to stability' }
];

const title = 'Serverless Framework Solutions';
const description =
  "Turn to Ship Shape's serverless framework experts to better understand what is serverless, and save time and resources on your next app build.";
---

<BaseLayout description={description} title={title}>
  <article itemscope itemtype="http://schema.org/Service">
    <HeroBlock
      hero-classes="next-consulting waves serverless-waves !pb-32 !pt-20 lg:!pb-52"
    >
      <Fragment slot="content">
        <h1 itemprop="name" class="leading-tight text-5xl">
          Start with the basics and scale quickly with serverless frameworks
        </h1>

        <div class="flex justify-center mt-3 w-full lg:justify-start lg:mt-8">
          <a class="btn btn-red w-full lg:w-auto" href="/contact/">
            Let’s get started
          </a>
        </div>
      </Fragment>

      <Fragment slot="icon">
        <Img
          alt=""
          attributes={{
            img: {
              class: 'h-auto m-auto max-w-2xl w-full'
            }
          }}
          format="webp"
          height={984}
          placeholder="none"
          src="/img/hero-images/serverless-consulting.png"
          width={1344}
        />
      </Fragment>
    </HeroBlock>

    <AllAboutSpecialty benefits={specialtyBenefits} flipParagraphs={true}>
      <Fragment slot="h2">All about Serverless</Fragment>
      <Fragment slot="h3">This means your company can:</Fragment>
      <Fragment slot="unboxed-text">
        <p>
          Smaller APIs, GraphQL servers, front-end applications, microservices,
          and similar types of software work well within serverless frameworks.
        </p>

        <p>
          Working on something like this? Ship Shape’s first-rate software
          engineers know all the ins and outs. Whether you’re wondering, “What
          is serverless, and can it help my team?” or you’ve gotten started but
          need help taking it to the next level, we’ve got you covered.
        </p>
      </Fragment>
      <Fragment slot="boxed-text">
        <p>
          Why pay for computing power you aren’t using? With serverless
          frameworks, high server costs are a thing of the past.
        </p>

        <p>
          What is serverless? It’s a model that offloads server management to a
          third party, only charges you for actual usage, and makes it easy to
          auto-scale as demand increases.
        </p>
      </Fragment>
    </AllAboutSpecialty>

    <TwoColumnSection
      header="Your co-pilots in the storm"
      image={copilot}
      isFlipped={true}
    >
      <Fragment slot="content">
        Ship Shape is committed to leaving every engineering team we work with
        better than we found it. Not only do we build robust, reliable software,
        but we also train your staff along the way to understand, maintain, and
        improve your product after our engagement ends.
      </Fragment>
    </TwoColumnSection>

    <!-- <SingleQuote classString="lg:pt-32" testimonial={testimonial} /> -->

    <TwoColumnSection header="We ❤️ the Serverless Community" image={community}>
      <Fragment slot="content">
        We’re a team of makers who are passionate about improving software
        products and the people who create them.
      </Fragment>
    </TwoColumnSection>

    <WaveMoreLinks />
  </article>
</BaseLayout>
