---
import { Image } from 'astro:assets';

import BaseLayout from '../../layouts/BaseLayout.astro';
import AllAboutSpecialty from '../../components/AllAboutSpecialty.astro';
import HeroBlock from '../../components/HeroBlock.astro';
import TwoColumnSection from '../../components/TwoColumnSection.astro';
import WaveMoreLinks from '../../components/WaveMoreLinks.astro';

const title = 'Tailwind CSS & Tailwind UI Experts';
const description =
  "Tailwind CSS makes it easy to build a site without using any custom CSS. Learn how Ship Shape's team of Tailwind UI experts can help tailor your app quickly.";

const community = {
  src: '/img/services/tailwind/community.png',
  height: 1008,
  width: 1312
};

const copilot = {
  src: '/img/services/tailwind/copilot.png',
  height: 1132,
  width: 1312
};

const specialtyBenefits = [
  {
    iconName: 'icons/image',
    description: 'It matches mocks and designs with ease.'
  },
  {
    iconName: 'icons/speed',
    description:
      'It automatically removes all unused CSS when building for production, which improves speed.'
  },
  {
    iconName: 'icons/modular',
    description:
      'Its usability is quite nimble compared to similar frameworks (like Bootstrap).'
  },
  {
    iconName: 'icons/pwa',
    description: 'Prototyping is super fast with Tailwind UI components.'
  }
];
---

<BaseLayout description={description} title={title}>
  <article itemscope itemtype="http://schema.org/Service">
    <HeroBlock
      heroClasses="tailwind-consulting waves tailwind-waves !pb-48 !pt-20 lg:!pb-52"
    >
      <Fragment slot="content">
        <h1 itemprop="name" class="leading-tight text-5xl">
          Customize your app quickly with the help of our Tailwind CSS experts
        </h1>

        <div class="flex justify-center mt-3 w-full lg:justify-start lg:mt-8">
          <a class="btn btn-red w-full lg:w-auto" href="/contact/">
            Let’s get started
          </a>
        </div>
      </Fragment>

      <Fragment slot="icon">
        <Image
          class="h-auto m-auto max-w-2xl w-full"
          format="webp"
          height={936}
          src="/img/hero-images/tailwind-consulting.png"
          width={1344}
          alt=""
        />
      </Fragment>
    </HeroBlock>

    <AllAboutSpecialty benefits={specialtyBenefits} flipParagraphs={true}>
      <Fragment slot="h2">All about Tailwind CSS</Fragment>

      <Fragment slot="h3">
        Ship Shape’s experienced engineers love Tailwind CSS because:
      </Fragment>

      <Fragment slot="unboxed-text">
        At Ship Shape, we like Tailwind CSS so much that we even use it on our
        own products and passion projects, such as our
        <a class="hover:brightness-125 hover:text-red" href="https://swach.io/">
          robust color management app called Swach.
        </a>
         In addition to building Tailwind UIs, we also love training other teams
        on it to help sharpen their skills too.
      </Fragment>

      <Fragment slot="boxed-text">
        Much faster than with most CSS frameworks, Tailwind CSS provides almost
        all the tools you need to build a site without writing any custom
        styles.
      </Fragment>
    </AllAboutSpecialty>

    <TwoColumnSection
      header="Your co-pilots in the storm"
      image={copilot}
      isFlipped={true}
    >
      <Fragment slot="content">
        Ship Shape is committed to leaving every engineering team we work with
        better than we found it. Not only do we build robust, reliable software,
        but we also train your staff along the way to understand, maintain, and
        improve your product after our engagement ends.
      </Fragment>
    </TwoColumnSection>

    <!-- <div
      class="bg-white flex flex-wrap justify-center px-8 lg:py-16 lg:pt-32"
    >
      <SingleQuote testimonial={testimonial} />
    </div> -->

    <TwoColumnSection header="We ❤️ the Tailwind Community" image={community}>
      <Fragment slot="content">
        We’re a team of makers who are passionate about improving software
        products and the people who create them.
      </Fragment>
    </TwoColumnSection>

    <WaveMoreLinks />
  </article>
</BaseLayout>
