---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BlogPostMenu from '../../../components/BlogPostMenu.astro';
import authorData from '../../../../data/authors.mjs';
import { MarkdownFrontmatter } from '../../index.astro';

const { author, posts } = Astro.props;

export async function getStaticPaths() {
  let allPosts = await Astro.glob<MarkdownFrontmatter>('/data/posts/*.md');
  allPosts = allPosts.sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );

  return Object.keys(authorData).flatMap((authorId) => {
    const posts = allPosts.filter(
      (post) => post.frontmatter.authorId === authorId
    );
    const author = authorData[authorId];
    return {
      params: {
        authorId
      },
      props: { author, posts }
    };
  });
}

const title = `Posts by ${author.name} - Blog`;
const description = `See the ${posts?.length ?? 0} blog posts ${
  author.name
} has written for Ship Shape.`;
---

<BaseLayout description={description} title={title}>
  <div class="blog-posts section flex flex-wrap justify-center">
    <div class="section-content">
      <div class="flex items-center">
        <h1 class="font-semibold mb-8 text-5xl lg:text-6xl">
          {author.name}
        </h1>
      </div>

      <BlogPostMenu posts={posts} />
    </div>
  </div>
</BaseLayout>
