---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import BenefitsList from '../components/BenefitsList.astro';
import FunFacts from '../components/FunFacts.astro';
import HeroBlock from '../components/HeroBlock.astro';
import LatestInsights from '../components/LatestInsights.astro';

import groupImage from '../images/about/group.png';
import signImage from '../images/about/ship-shape-sign.png';

import chuckImage from '../images/blog/authors/chuck.jpg';
import jaredImage from '../images/blog/authors/jared.jpg';
import robImage from '../images/blog/authors/rob.jpg';
import robbieImage from '../images/blog/authors/robbie.jpg';

const benefits = [
  {
    iconName: 'icons/client',
    description: 'Strategic Astro partners'
  },
  {
    iconName: 'icons/staff',
    description: 'Active GitHub contributors'
  },
  {
    iconName: 'icons/fun',
    description: 'Local tech meetup hosts'
  },
  {
    iconName: 'icons/pwa',
    description: 'Whiskey, Web & Whatnot podcasters'
  }
];

const mgmt = [
  {
    name: 'Robbie Wagner',
    title: 'CEO',
    imgSrc: robbieImage,
    twitter: 'https://twitter.com/RobbieTheWagner',
    linkedin: 'https://www.linkedin.com/in/robertwilliamwagner/',
    github: 'https://github.com/RobbieTheWagner',
    blurb:
      'Since 2012, Robbie has been using Ember to craft bespoke web applications for companies large and small. He founded Ship Shape in 2017 to provide Ember Consulting for clients and has since ventured into Nuxt and Astro as well. He is a huge Tailwind fanboy and believes it solves CSS once and for all.'
  },
  {
    name: 'Chuck Carpenter',
    title: 'COO',
    imgSrc: chuckImage,
    twitter: 'https://twitter.com/charleswthe3rd',
    linkedin: 'https://www.linkedin.com/in/chuckcarpenter/',
    github: 'https://github.com/chuckcarpenter',
    blurb:
      'Chuck leads teams to deliver high quality, nimble, reliable, and valuable products in order to create demand and increase their user base. He sometimes makes stuff in Javascript, Serverless, and GraphQL.'
  }
];

const team = [
  {
    name: 'Rob Cary',
    title: 'Lead Engineer',
    imgSrc: robImage,
    twitter: 'https://twitter.com/r0bc4ry',
    linkedin: 'https://www.linkedin.com/in/r0bc4ry/',
    github: 'https://github.com/r0bc4ry'
  },
  {
    name: 'Jared Galanis',
    title: 'Senior Software Engineer',
    imgSrc: jaredImage,
    twitter: 'https://twitter.com/jaredgalanis',
    linkedin: 'https://www.linkedin.com/in/jaredgalanis/',
    github: 'https://github.com/jaredgalanis'
  }
];

const title = 'About Our Software Development Agency';
const description =
  'Meet Ship Shape, a full-stack software development agency with senior-level engineers who specialize in JavaScript frameworks, serverless architecture, & more.';
---

<BaseLayout description={description} title={title}>
  <article>
    <HeroBlock heroClasses="about bg-blue-light">
      <Fragment slot="icon">
        <Image
          class="mt-8"
          alt="Ship Shape employee group photo"
          format="webp"
          loading="lazy"
          src={groupImage}
        />
      </Fragment>

      <div class="m-auto max-w-lg" slot="content">
        <h1 class="leading-tight text-5xl text-navy">
          Meet the crew on board our full-stack software development agency
        </h1>
      </div>
    </HeroBlock>

    <section class="section bg-white flex flex-wrap justify-center">
      <div class="section-content">
        <h2
          class="py-6 text-4xl lg:flex lg:justify-center lg:py-12 mb-6"
        >
          Ship Shape /ˈSHipˌSHāp / adj. “To be in first-class order”
        </h2>
        <div
          class="grid grid-cols-1 items-center gap-20 lg:grid-cols-2 lg:gap-32"
        >
          <div class="lg:order-last">
            <p class="mb-6">
              Our name describes exactly what our full-stack software
              development agency does: creates first-class products with
              first-class talent.
            </p>

            <p>
              Whether we’re crafting a greenfield solution with new technologies
              or elevating an existing experience with the latest best
              practices, we love collaborating with teams to solve old problems
              in new ways and help each other grow in the process.
            </p>
          </div>

          <Image
            alt=""
            format="webp"
            height={1278}
            src={signImage}
            width={1278}
            loading="lazy"
          />
        </div>
      </div>
    </section>

    <FunFacts />

    <section class="waves blue-waves bg-blue-light section flex justify-center">
      <div class="section-content flex flex-wrap justify-center">
        <!-- replace with TwoColumnSection -->
        <div class="lg:flex lg:py-20">
          <Image
            class="h-auto m-auto max-w-2xl w-full pb-12 lg:order-last"
            format="webp"
            height={772}
            src='/img/hero-images/mentoring.png'
            width={1312}
            alt=""
          />
          <div class="pb-20 lg:self-center">
            <h2 class="mb-6 text-5xl">Get to know the crew</h2>
            <p>
              Our clients can confirm: Ship Shape’s software development agency
              is made of the best developers in the business. We blend of IQ +
              EQ, ensuring you get talented engineers who are easy to work with
              and blend seamlessly with your team.
            </p>
          </div>
        </div>

        <section class="w-full">
          <div class="space-y-12">
            <!-- two lists - employee and mgmt -->
            <ul>
              {
                mgmt.map((employee, index) => (
                  <li>
                    <div
                      class="
									      flex flex-col
									      gap-y-8
									      lg:flex-row lg:items-center lg:gap-x-24 lg:pb-28
								      "
                    >
                      <div class="space-y-8">
                        <h3 class="mb-3 text-4xl">{employee.name}</h3>

                        <p class="font-bold mb-3 text-2xl text-navy">
                          {employee.title}
                        </p>

                        <p>{employee.blurb ? employee.blurb : null}</p>
                        <ul class="flex space-x-8">
                          <li>
                            <a href={employee.github} class="group">
                              <span class="sr-only">GitHub</span>
                              <Icon
                                aria-hidden="true"
                                class="h-[22px] w-[23px] child:fill-navy-light child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                                name="github"
                              />
                            </a>
                          </li>
                          <li>
                            <a href={employee.linkedin} class="group">
                              <span class="sr-only">LinkedIn</span>
                              <Icon
                                aria-hidden="true"
                                class="h-[20px] w-[19px] child:fill-navy-light child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                                name="linkedin"
                              />
                            </a>
                          </li>
                          {employee.twitter ? (
                            <li>
                              <a href={employee.twitter} class="group">
                                <span class="sr-only">Twitter</span>
                                <Icon
                                  aria-hidden="true"
                                  class="h-[19px] w-[23px] child:fill-navy-light child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                                  name="twitter"
                                />
                              </a>
                            </li>
                          ) : null}
                        </ul>
                      </div>
                      <Image
                        class={`aspect-square filter h-auto grayscale object-cover order-first shadow-lg rounded-lg w-full lg:w-88 ${
                          index % 2 !== 0 ? 'lg:order-last' : null
                        }`}
                        format="webp"
                        height={734}
                        src={employee.imgSrc}
                        alt=""
                        width={734}
                      />
                    </div>
                  </li>
                ))
              }
            </ul>

            <ul
              class="space-y-24 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-28 lg:pb-24"
            >
              {
                team.map((employee) => (
                  <li>
                    <div
                      class="gap-y-8 grid lg:grid-cols-2 lg:gap-x-8"
                    >
                      <div class="self-center">
                        <div class="text-lg font-medium">
                          <h3 class="mb-3 text-4xl">{employee.name}</h3>
                          <p class="font-medium mb-3 text-grey text-2xl">
                            {employee.title}
                          </p>
                        </div>

                        <ul class="flex mb-0 space-x-8">
                          <li class="mb-0">
                            <a href={employee.github} class="group">
                              <span class="sr-only">GitHub</span>
                              <Icon
                                aria-hidden="true"
                                class="h-[22px] w-[23px] child:fill-navy-light child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                                name="github"
                              />
                            </a>
                          </li>
                          <li class="mb-0">
                            <a href={employee.linkedin} class="group">
                              <span class="sr-only">LinkedIn</span>
                              <Icon
                                aria-hidden="true"
                                class="h-[20px] w-[19px] child:fill-navy-light child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                                name="linkedin"
                              />
                            </a>
                          </li>
                          {employee.twitter ? (
                            <li class="mb-0">
                              <a href={employee.twitter} class="group">
                                <span class="sr-only">Twitter</span>
                                <Icon
                                  aria-hidden="true"
                                  class="h-[19px] w-[23px] child:fill-navy-light child:transition-colors group-focus:child:fill-red-light group-hover:child:fill-red-light"
                                  name="twitter"
                                />
                              </a>
                            </li>
                          ) : null}
                        </ul>
                      </div>

                      <div class="order-first">
                        <Image
                          class="aspect-square filter grayscale object-cover shadow-lg rounded-lg"
                          format="webp"
                          height={734}
                          src={employee.imgSrc}
                          width={734}
                          alt=""
                        />
                      </div>
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
      </div>
    </section>

    <div class="section flex flex-wrap justify-center bg-white">
      <div class="section-content flex flex-col divide-y-2 divide-[#D8E3E8]">
        <div
          class="py-24 lg:flex lg:flex-row lg:place-content-between lg:items-center"
        >
          <div>
            <h2 class="mb-6 text-5xl">Tap into our knowledge base</h2>
            <p>
              Check out the latest insights from across our app development
              company.
            </p>
          </div>
          <a
            class="flex place-content-center btn btn-red w-full lg:w-1/5"
            href="/blog/"
          >
            Get more insights
          </a>
        </div>

        <LatestInsights hideHeader={true} />
      </div>
    </div>

    <section class="section bg-navy flex justify-center lg:py-40">
      <div class="section-content flex flex-col justify-center">
        <div
          class="pb-24 lg:flex lg:flex-row lg:items-center lg:gap-x-32"
        >
          <div class="text-white">
            <h2 class="text-white text-4xl mb-6">Giving back</h2>
            <p>
              The people within our app development company do this work for
              passion, not just a paycheck. Here’s how we’re contributing to the
              community and pushing the software space forward.
            </p>
          </div>
          <a
            class="flex place-content-center btn btn-red w-full lg:w-1/5"
            href="/blog/"
          >
            Get more contributions
          </a>
        </div>
        <BenefitsList benefits={benefits} />
      </div>
    </section>

    <div
      class="waves blue-waves section bg-blue-light flex flex-wrap justify-center"
    >
      <div class="section-content py-20">
        <section class="flex flex-wrap justify-center">
          <div
            class="gap-8 grid grid-cols-1 items-center lg:gap-48 lg:grid-cols-2"
          >
            <div class="order-last lg:order-none">
              <h2 class="text-4xl lg:text-5xl mb-6">
                Want to chart your course to software success?
              </h2>

              <div>
                <div>
                  <p>
                    Reach out to tell us more about your goals and chat about
                    how we can help you get there.
                  </p>
                  <div
                    class="flex justify-center mt-3 w-full lg:justify-start lg:mt-8"
                  >
                    <a class="btn btn-red w-full lg:w-auto" href="/contact/">
                      Contact us
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <Image
                alt=""
                class="h-auto m-auto max-w-2xl w-full"
                format="webp"
                height={988}
                src="/img/hero-images/ember-consulting.png"
                width={1248}
              />
            </div>
          </div>
        </section>
      </div>
    </div>
  </article>
</BaseLayout>
