---
import { Image } from 'astro:assets';
import { formatDateWithDots } from '../utils/date';

export interface Props {
  categories: string[];
  date: string;
  id: string;
  image: string;
  name: string;
}

const { categories, date, id, image, name } = Astro.props;
---

<div class="grid grid-cols-1 lg:grid-cols-2">
  <div
    class="flex items-center pb-8"
    itemprop="author"
    itemscope
    itemtype="http://schema.org/Person"
  >
    <div class="w-14">
      <Image
        alt="Author image"
        class="h-auto rounded-full w-full"
        itemprop="image"
        format="webp"
        height={120}
        src={image}
        width={120}
      />
    </div>

    <div class="pl-2 pb-2">
      By

      <a href={`/blog/authors/${id}`} itemprop="name">
        {name}
      </a>

       on

      <time datetime={date} itemprop="datePublished dateModified">
        {formatDateWithDots(date)}
      </time>
    </div>
  </div>
  <div class="lg:text-right">
    {
      categories?.map((tag) => (
        <a
          href={`/blog/categories/${tag.replace(/ |\./g, '-')}/`}
          class="blog-tag mr-2"
        >
          #{tag}
        </a>
      ))
    }
  </div>
</div>
