---
import AuthorRow from './AuthorRow.astro';
import BottomLinks from './BottomLinks.astro';

export interface Props {
  canonicalURL: URL;
  post: any;
}
const { canonicalURL, post } = Astro.props;
const { Content } = post;
const { author } = post.frontmatter;
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href={canonicalURL} />
  <link itemprop="publisher" href="shipshapeorg" />
  <link itemprop="image" href="shipshapelogo" />

  <div class="section flex flex-wrap justify-center">
    <div class="max-w-3xl w-full">
      <h1 class="blog-post-title font-semibold" itemprop="headline">
        {post.frontmatter.title}
      </h1>

      <AuthorRow
        date={post.frontmatter.date}
        id={author.id}
        image={author.image}
        name={author.name}
      />

      <div class="post-content prose lg:prose-lg">
        <Content />
      </div>

      <BottomLinks
        nextLink="`/blog/${post.nextSlug}/`"
        nextLinkText={post.nextTitle}
        previousLink="`/blog/${post.previousSlug}/`"
        previousLinkText={post.previousTitle}
      />
    </div>
  </div>
</article>

<style lang="scss" is:global>
  .astro-code {
    @apply p-4;
  }
</style>
