---
import { Image } from 'astro:assets';

import AuthorRow from './AuthorRow.astro';
import BottomLinks from './BottomLinks.astro';
import { MarkdownFrontmatter } from '../pages/index.astro';

export interface Post {
  Content: any; // eslint-disable-line
  frontmatter: MarkdownFrontmatter;
}

export interface Props {
  canonicalURL: URL;
  post: Post;
  nextPost: Post;
  previousPost: Post;
}

const { canonicalURL, post, nextPost, previousPost } = Astro.props;
const { Content } = post;
const { author } = post.frontmatter;
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href={canonicalURL} />
  <link itemprop="publisher" href="shipshapeorg" />
  <link itemprop="image" href="shipshapelogo" />

  <div class="section flex flex-wrap justify-center">
    <div class="max-w-4xl w-full">
      <h1 class="font-bold mb-8 text-5xl" itemprop="headline">
        {post.frontmatter.title}
      </h1>

      <AuthorRow
        categories={post.frontmatter.categories}
        date={post.frontmatter.date}
        id={author.id}
        image={author.image}
        name={author.name}
      />

      {
        post.frontmatter.image && (
          <Image
            alt=""
            class="mb-24 mt-6 rounded-md"
            itemprop="image"
            format="webp"
            height={1080}
            src={`/img/blog/hero-images/${post.frontmatter.image}`}
            width={1686}
          />
        )
      }

      <div
        class="post-content prose prose-headings:text-navy prose-p:text-grey-light lg:prose-lg max-w-none"
      >
        <Content />
      </div>

      <BottomLinks
        nextLink={`/blog/${nextPost.frontmatter.slug}/`}
        nextLinkText={nextPost.frontmatter.title}
        previousLink={`/blog/${previousPost.frontmatter.slug}/`}
        previousLinkText={previousPost.frontmatter.title}
      />
    </div>
  </div>
</article>

<style lang="scss" is:global>
  .astro-code {
    @apply p-4;
  }
</style>
