---
import { Icon } from 'astro-icon';

import { formatDateWithDots } from '../utils/date';

export interface Props {
  details: { date: string; pubDate: string; title: string };
  imgHeight: number;
  imgSrc: string;
  imgWidth: number;
}

const { details, imgHeight, imgWidth, imgSrc, mediaType } = Astro.props;
---

<section>
  <h3 class="capitalize m-0 pb-12 pt-24">Latest {mediaType}</h3>
  <article class="flex flex-col mb-12 lg:flex-row lg:items-center">
    <img
      class="h-auto max-w-sm mb-7 rounded-md w-full lg:mb-0 lg:mr-7 lg:w-64"
      format="webp"
      src={imgSrc}
      height={imgHeight}
      width={imgWidth}
      alt=""
    />

    <div class="flex-grow">
      <h4 class="max-w-3xl text-2xl lg:mb-4">
        {details.title}
      </h4>

      <p>
        {formatDateWithDots(details.date || details.pubDate)}
      </p>

      <p class="max-w-4xl mb-0">
        {details.description}
      </p>
    </div>

    <a
      class="
        learn-more
        mt-12
        self-start
        whitespace-nowrap
        lg:ml-24 lg:self-end
      "
      href={mediaType === 'podcast'
        ? 'https://www.whiskeywebandwhatnot.fm/'
        : `/blog/${details.slug}/`}
    >
      Dive Deeper
      <Icon class="h-4 inline w-6" name="arrow" />
    </a>
  </article>
</section>
