---
import { Icon } from 'astro-icon';

import { formatDateWithDots } from '../utils/date';

import type { ImageMetadata } from 'astro/dist/assets/types';

export interface Props {
  details: {
    description: string;
    image?: string;
    title: string;
    slug: string;
    date?: string;
    pubDate?: string;
  };
  mediaType: string;
  imgHeight?: number;
  imgSrc?: ImageMetadata;
  imgWidth?: number;
}

const { details, imgHeight, imgWidth, imgSrc, mediaType } = Astro.props;
const image = details.image
  ? `/img/blog/hero-images/${details.image}`
  : imgSrc.src;
---

<section>
  <h3 class="capitalize m-0 py-12 text-4xl">Latest {mediaType}</h3>

  <article class="flex flex-col mb-12 lg:flex-row lg:items-center">
    <img
      alt=""
      class="!aspect-square h-auto max-w-sm mb-7 object-cover rounded-md w-full lg:mb-0 lg:mr-7 lg:w-64"
      height={imgHeight ?? 1080}
      src={image}
      width={imgWidth ?? 1686}
    />

    <div class="flex-grow">
      <h4 class="max-w-3xl text-xl lg:mb-4">
        {details?.title}
      </h4>

      <p>
        {formatDateWithDots(details?.date || details?.pubDate)}
      </p>

      <p class="max-w-4xl mb-0">
        {details?.description}
      </p>
    </div>

    <a
      class="learn-more mt-12 self-start whitespace-nowrap lg:ml-24 lg:self-end"
      href={mediaType === 'podcast'
        ? `https://www.whiskeywebandwhatnot.fm/${details?.slug}`
        : `/blog/${details?.slug}/`}
      aria-label={mediaType === 'podcast'
        ? 'Dive deeper into our podcast'
        : 'Dive into our most recent blog post'}
    >
      Dive Deeper
      <Icon class="h-4 inline w-6" name="arrow" />
    </a>
  </article>
</section>
