---
import { Icon } from 'astro-icon';

interface Props {
  caseStudies: CaseStudy[];
  specialty: string;
}

export interface CaseStudy {
  imgAlt: string;
  imgSrc: string;
  logoSrc: string;
  text: string;
  linkName: string;
}

const { specialty, caseStudies }: Props = Astro.props;
---

<section class="section flex flex-wrap justify-center" data-aos="fade-down">
  <div class="section-content">
    <h2 class="pb-8 text-4xl mb-6">{specialty} in action</h2>

    <div class={`gap-5 grid grid-cols-1 lg:grid-cols-${caseStudies.length}`}>
      {
        caseStudies.map((study, index) => (
          <a
            class="case-study-article block group transition-all hover:-translate-y-5 focus:-translate-y-5"
            href={`/work/${study.linkName}/`}
          >
            <article
              class="inline"
              data-aos="flip-down"
              data-aos-delay={200 * index}
            >
              <div
                class={`
                bg-blue-light
                flex
                h-full
                relative
                w-full
                flex-col rounded-b-md
                ${
                  caseStudies.length > 1
                    ? ''
                    : 'lg:flex-row-reverse lg:rounded-b-none lg:rounded-l-md'
                }
              `}
              >
                <div class="flex flex-col flex-grow p-8 relative order-last lg:p-12">
                  <h3>
                    <Icon
                      class="h-8 max-w-full mb-8 self-start w-auto pointer-events-none child:fill-navy"
                      name={study.logoSrc}
                      title={study.companyName}
                    />
                  </h3>

                  <p class="flex-grow mb-16 !text-navy">{study.text}</p>

                  <span class="text-navy group-hover:text-red">
                    Dive deeper
                    <Icon
                      class="duration-200 h-4 inline ml-1 transition-all w-6 group-focus:child:fill-red group-focus:translate-x-2 group-hover:child:fill-red group-hover:translate-x-2"
                      name="arrow"
                    />
                  </span>
                </div>
                <div
                  class={`
                  bg-red
                  flex
                  items-end
                  justify-center
                  px-8
                  relative
                  lg:pt-12 lg:px-12
                  ${
                    caseStudies.length > 1
                      ? 'pt-8  rounded-t-md'
                      : 'pt-12 rounded-t-md lg:rounded-t-none lg:rounded-r-md lg:w-5/12 xl:pt-24 xl:px-12'
                  }
                `}
                >
                  <div
                    class={`bg-white rounded-t-md w-full ${
                      caseStudies.length > 1 ? 'h-48' : 'h-56'
                    }`}
                  >
                    <img
                      class="object-cover object-top h-full max-w-full rounded-t-md w-full"
                      src={study.imgSrc}
                      alt={study.imgAlt}
                    />
                  </div>
                </div>
              </div>
            </article>
          </a>
        ))
      }
    </div>
  </div>
</section>
