---
import MainHead from '../components/MainHead.astro';
import NavMenu from '../components/NavMenu.astro';
import WaveFooter from '../components/WaveFooter.astro';

export interface Props {
  description: string;
  title: string;
  tags?: string[];
}

const { description, tags, title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

function changeBackgroundColor() {
  const pathname = canonicalURL?.pathname;
  const bluePaths = ['/', '/about/', '/services/', '/work/'];

  if (bluePaths.includes(pathname)) {
    return 'bg-blue-light';
  }

  const tanPaths = ['/whiskey-web-and-whatnot-podcast/']

  if (tanPaths.includes(pathname)) {
    return 'bg-tan';
  }
}
---

<html lang="en">
  <head>
    <MainHead
      canonicalURL={canonicalURL}
      description={description}
      tags={tags}
      title={title}
    />
  </head>

  <body>
    <div
      itemscope
      itemtype="https://schema.org/Organization"
      itemid="shipshapeorg"
      class={changeBackgroundColor()}
    >
      <meta itemprop="legalName" content="Ship Shape Consulting LLC" />

      <NavMenu />

      <main>
        <slot />
      </main>

      <WaveFooter />
    </div>
  </body>
</html>
