---
import MainHead from '../components/MainHead.astro';
import NavMenu from '../components/NavMenu.astro';
import WaveFooter from '../components/WaveFooter.astro';

export interface Props {
  description: string;
  title: string;
  tags?: string[];
}

const { description, tags, title } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// TODO: add back dynamic classes
---

<html lang="en">
  <head>
    <title>{title}</title>
    <MainHead
      canonicalURL={canonicalURL}
      description={description}
      tags={tags}
      title={title}
    />

    <script
      defer
      data-domain="shipshape.io"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>

  <body>
    <div
      itemscope
      itemtype="https://schema.org/Organization"
      itemid="shipshapeorg"
      class={canonicalURL?.pathname === '/' ||
      canonicalURL?.pathname === '/about/' ||
      canonicalURL?.pathname === '/services/'
        ? 'bg-blue-light'
        : ''}
    >
      <meta itemprop="legalName" content="Ship Shape Consulting LLC" />

      <NavMenu />

      <main>
        <slot />
      </main>

      <WaveFooter />
    </div>

    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init();
    </script>
  </body>
</html>
